{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<h1>Checkout</h1>
<hr>
<div class="row">

    <div class="col">
        <h3>Your order</h3>
        <p class="fw-bold fs-3">Total: XCD${{ cart.get_total_price }}</p>
        <ol>
            {% for item in cart %}
            <li> {{ item.product.title }} ({{ item.quantity }})
                <span>XCD${{ item.total_price }}</span>
            </li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-lg-3 border shadow rounded py-5 px-3">
        <form method="post">
            {{ form|crispy }}
            <p class="d-grid"><input class="btn"
                    type="submit"
                    value="Place order"></p>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}