{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h5>{{object.title}}</h5>
            <p class="fw-bold">XCD${{object.price}}</p>
            <p>
                <form class="col-lg-1" action="{% url 'cart-add' object.id %}" method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                   </form>
            </p>
            <p>{{object.description|linebreaks}}</p>
            <p class="fw-bold">{{object.category|upper}}</p>
            <a class="del-link" href="{% url 'product-delete' object.id %}">Delete</a>
        </div>
        <div class="col">
            <img style="max-width: 32rem;" src="{{object.image}}" alt="{{object.image}}">
        </div>
    </div>
{% endblock content %}
    